<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input labelPlacement="stacked" label="Enter your name" [(ngModel)]="carnet.name" placeholder="Your name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" label="Enter your destination" [(ngModel)]="carnet.destination" placeholder="Your destination"></ion-input>
  </ion-item>
    <ion-item>
    <ion-input labelPlacement="stacked" label="Enter your date" [(ngModel)]="carnet.date" placeholder="2000/00/00"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input labelPlacement="stacked" label="Enter your description" [(ngModel)]="carnet.description" placeholder="Description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="file" [(ngModel)]="carnet.imageUrl"></ion-input>
  </ion-item>
</ion-content>



 -->